<div class="container">
  <div class="card ">
    <div class="card-header">
      <h2>{{post.postName}}</h2>
      <h3>Post Date: {{post.postDate}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h5 class="card-title">Post Update Date: {{post.postUpdate}}</h5>
        </div>
        <div class="col-md-8">
          <h5 class="pull-right">Post Description: {{post.description}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3 class="card-title">Post Important Date: </h3>
          <h5>Application Begin: {{post.impDates.applicationBegin}}</h5>
          <h5>Last Date:{{post.impDates.lastDate}}</h5>
          <h5>Exam Fees Last Date: {{post.impDates.lastDateExamFees}}</h5>
          <h5>Answer Key: {{post.impDates.answerKey}}</h5>
          <h5>Result Declare: {{post.impDates.resultDeclare}}</h5>
        </div>
        <hr>
        <div class="col-md-6">
          <h3 class="pull-right">Fees:</h3>
          <h5>General Fees: {{post.fees.general}}</h5>
          <h5>OBC Fees: {{post.fees.obc}}</h5>
          <h5>SC Fees: {{post.fees.sc}}</h5>
          <h5>Description: {{post.fees.description}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
