<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Form</h2>
    </div>
    <div class="col-12 col-md-9 offset-sm-1">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="col-md-6 example-form">
          <!--<label for="name" class="col-form-label">Post Name</label>-->
          <!--<input type="text"-->
                 <!--class="form-control"-->
                 <!--id="name"-->
                 <!--name="name"-->
                 <!--placeholder="Post Title/Name"-->
                 <!--formControlName="postName"-->
          <!--&gt;<span *ngIf="!form.get('postName').valid && form.get('postName').touched" class="help-block">*Post Name is required</span>-->
         <br>
          <mat-form-field class="example-full-width">
            <input formControlName="postName" matInput placeholder="Post Title/Name">
            <mat-error *ngIf="form.get('postName').hasError('required')">
              Post Title/Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <br>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Post Date" formControlName="postDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('postDate').hasError('required')">
              Post Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
         </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput [matDatepicker]="update1" placeholder="Post Update" formControlName="postUpdate">
            <mat-datepicker-toggle matSuffix [for]="update1"></mat-datepicker-toggle>
            <mat-datepicker #update1></mat-datepicker>
            <mat-error *ngIf="form.get('postUpdate').hasError('required')">
              Post Update Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" rows="4" formControlName="description"></textarea>
            <mat-error *ngIf="form.get('description').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field>
            <input type="text" matInput placeholder="Qualification Eligibility" formControlName="qualification" required [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
              <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                <mat-option *ngFor="let name of group.names" [value]="name">
                  {{name}}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
        <div class="form-group row" formGroupName="impDates">
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="apdate" placeholder="Application Begin Date" formControlName="applicationBegin">
            <mat-datepicker-toggle matSuffix [for]="apdate"></mat-datepicker-toggle>
            <mat-datepicker #apdate></mat-datepicker>
          </mat-form-field>
        </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput [matDatepicker]="lastdate" placeholder="Last Date" formControlName="lastDate">
              <mat-datepicker-toggle matSuffix [for]="lastdate"></mat-datepicker-toggle>
              <mat-datepicker #lastdate></mat-datepicker>
            </mat-form-field>
             </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="elastDate" placeholder="Exam Fees Last Date" formControlName="lastDateExamFees">
            <mat-datepicker-toggle matSuffix [for]="elastDate"></mat-datepicker-toggle>
            <mat-datepicker #elastDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="alastDate" placeholder="Answer Key Date" formControlName="answerKeyDate">
            <mat-datepicker-toggle matSuffix [for]="alastDate"></mat-datepicker-toggle>
            <mat-datepicker #alastDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
          <input matInput [matDatepicker]="resultDate" placeholder="Result Declaration Date" formControlName="resultDeclareDate">
          <mat-datepicker-toggle matSuffix [for]="resultDate"></mat-datepicker-toggle>
          <mat-datepicker #resultDate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row" formGroupName="fees">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="general" type="number" matInput placeholder="General Fees">
            <mat-error *ngIf="form.get('fees.general').hasError('required')">
              General Fees is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="obc" type="number" matInput placeholder="OBC Fees">
            <mat-error *ngIf="form.get('fees.obc').hasError('required')">
              OBC Fees is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="sc" type="number" matInput placeholder="SC/ST Fees">
            <mat-error *ngIf="form.get('fees.sc').hasError('required')">
              SC/ST  Fees is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Fees Details" rows="4" formControlName="description"></textarea>
            <mat-error *ngIf="form.get('fees.description').hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="No. of Vacancies Details" rows="4" formControlName="vacancyDetails">
            <mat-error *ngIf="form.get('vacancyDetails').hasError('required')">
              No. of Vacancies are <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <hr>
      <div class="form-group row">
        <div class="col-md-10">
          <h4>Important Links</h4>
          <div class="col-md-12" formArrayName="links">
            <div class="row" *ngFor="let ingC of form.get('links')['controls']; let i=index" [formGroupName]="i" style="margin-top: 10px">
              <div class="col-md-5">
                <input type="text" placeholder="Link Title"  class="form-control" formControlName="linkTitle">
              </div>
              <div class="col-md-5">
                <input placeholder="Link of the page"  class="form-control" formControlName="linkRef">
              </div>
              <div class="col-md-2">
                <button type="button" mat-raised-button color="primary" (click)="onDeleteLink(i)"> X </button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="button" mat-raised-button color="warn" (click)="onAddLink( )">Add Link</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-danger" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
      <button class="btn btn-primary" type="button" (click)="onGet()">Get</button>
</div>
</div>
</div>
